
@import "cpn/nav-bar.css";
@import "cpn/start-bar.css";
@import "cpn/screen-header.css";
@import "cpn/user.css";
@import "reset.css";

body{
    color: #2e363e;
}

#info{

    text-align: center;
    display: block;
    width: 100%;
    background-color: #fafafa;
    padding: 10px 0px;
    margin-bottom: 7px;
}

#info i{
    margin: 0px 8px;
    opacity: 0.3;
}

.friend_channal_header{
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}