@import "cpn/reset.css";
@import "cpn/start-bar.css";


body{
    font-family: Georgia, 'Times New Roman',
    Times, serif;
}

.header{
    margin: 90px 0px;
    text-align: center;
}

.header-title{
    margin-bottom: 40px;
    font-size: 25px;
    
}

.header-text{
    text-align: center;
    opacity: 0.6;
}

.login-form{
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
}

.login-form input:not([type="submit"]){
    border-bottom: 1px solid rgb(0,0,0,0.2);
}

.login-form input{
    padding: 15px 0px;
    border: none;
    font-size: 18px;
    margin-bottom: 15px;
    transition: border-color 0.3s ease-in-out;
}

.login-form input::placeholder{
    color: rgb(0,0,0,0.4);
}

.login-form input:focus{
    outline: none;
    border-color: yellow;
}

.login-form input:nth-last-child(){
    background-color: yellow;
}

.login-form input[type="submit"] {
    background-color: yellow;
    cursor: pointer;
    transition: background-color 1s;
}

.login-form a{
    text-align: center;
}

.login-form input[type="submit"]:hover{
    background-color: rgb(168, 168, 12);
}

/* .start_bar_col:last-child{
    display: flex;
    justify-content: flex-end;
    align-items: center;
} */
