
.screen_header {
    background-color: darkgreen;
    color: white;
    text-align: center;
}

.screen_header_title{
    background-color: darkgreen;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 80px;
    padding-top: 30px;
}

body{
    margin: 0px;
}