@import "nav.css";
@import "footer.css";
@import "header.css";

.main{
    width: 100%;
    height: 600px;
    font-size: large;
    background-image: url(https://cdn.ceomagazine.co.kr/news/photo/202209/31181_23469_4252.jpg);
    background-size: cover;
    opacity: 0.5;
}


